<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Tactico 90</title>
</head>
<body>
  <h1 class="index">Tactico 90</h1>
  <p class="index">Home of Futbol Events In NYC</p>
  <a class="index" href="/auth/sign-up">Sign up</a>
  <a class="index" href="/auth/sign-in">Sign in</a>
</body>
</html>